.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  padding: 20px;
}

.home h1 {
  font-size: 3em;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.home span {
  font-size: 1.5em;
  color: #555;
  text-align: center;
  max-width: 600px;
}
